ul{
    list-style: none;
}
#bass.bottom{
    width: 126px;
}
#child.bottom{
    width: 75px;
}
#uni.bottom{
    width: 83px;
}
.bottom,.bottom:visited{
    background-color:blue;
    width: 95px;
    border: 1px solid black;
    color: #00FF00;
    text-decoration: none;
    line-height: 20px;
}
.bottom:hover{
    color:magenta;
    display: block;
}
.bottom:active{
    color:yellow;
    display: block;
}
#b{
    background: coral;
    color: blue;
    font-size: 1.2em;
}
#ch{
    background: aqua;
    color: darkviolet;
    font-size: 1.2em;
}
#bi{
    background: bisque;
    color: red;
    font-size: 1.2em;
}
#u{
    background: lemonchiffon;
    color: #00FF00;
    font-size: 1.2em;
}
h1{
    text-align: center;
    font-size: 22px;
}
#back{
    font-style: italic;
}
#top{
    text-align: center;
}
h2{
    font-size: 1.44em;
}
.up{
    font-weight: bold;
}
#upp
{
    text-transform: uppercase;
}